body {
  border: 0;
  padding: 0;
  margin: 0;
  background-color: #f8f8f8;
  font-family: sans-serif;
}

a {
  color: #288edf
}

.graph-color0,
.graph-color0:hover { background-color: #2b9e63 }

.graph-color1,
.graph-color1:hover { background-color: #347eb9 }

.graph-color2,
.graph-color2:hover { background-color: #d43e5e }

.graph-color3,
.graph-color3:hover { background-color: #ccaf6f }
