html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  border: 0;
  padding: 0;
  margin: 0;
  background-color: #dfe2e2;
  font-family: sans-serif;
}

a {
  color: #288edf
}
