.main-header {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: #d2d6d6;
  padding: 5px;
}

.main-header .logo {
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: -1px;
  color: #a5a7a7;
  margin: 0 20px;
}
