.info,
.info .info-title,
.info .info-content {
  box-sizing: border-box;
}

.info {
  position: fixed;
  top: 0;
  right: -36%;
  bottom: 0px;
  width: 35%;
  min-width: 250px;
  background-color: #dfe2e2;
  padding: 50px 0;
  border-left: 1px solid rgba(255, 255, 255, 0.35);
  box-shadow: -5px 25px 80px rgba(0,0,0,0.25);
  z-index: 10;

  /*box-shadow: -1px 0px 0px rgba(157, 172, 169, 0.35);*/
  transition: all 0.1s cubic-bezier(0.70, 0, 0.175, 1);
}

.info.open {
  right: 0;
}

.info .info-title {
  position: absolute;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  background-color: #d2d6d6;
  z-index: 9;
}

.info .info-properties table {
  margin: 10px 0;
  width: 100%;
  border-spacing: 0;
}

.info .info-properties th {
  text-align: right;
  width: 36%;
}

.info .info-properties th,
.info .info-properties td {
  font-size: 12px;
  padding: 4px 8px;
}

.info .info-properties td span {
  display: block;
}

.info .info-content {
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}

.info .info-content .sub-node {
  display: flex;
  flex-flow: row nowrap;
  border-bottom: 1px solid rgba(157, 172, 169, 0.35);
}

.info .info-content .sub-node-info,
.info .info-content .sub-node-edges {
  padding: 15px;
}

.info .info-content .sub-node-edges {
  flex-grow: 2;
}

.info .info-content .sub-node-edges .edge {
  color: white;
  /*background-color: #9daca9;*/
  font-size: 12px;
  padding: 2px 4px;
  border-radius: 2px;
  margin: 0 6px 6px 0;
}

.info .info-content .sub-node .sub-node-type {
  display: block;
  font-size: 10px;
  margin-bottom: 6px;
  text-transform: uppercase;
}

.info .info-content .btn-add-node {
  font-size: 18px;
  width: 30px;
}

.info .sub-nodes-by-graph .graph-name {
  padding: 8px;
  color: white;
  font-size: 14px;
}

.info .sub-nodes-by-graph .graph-name .qtd-nodes {
  float: right;
}
