.monit .monit-loading {
  text-align: center;
  padding: 10px;
  color: #bbb;
}

.monit table {
  width: 100%;
  border-spacing: 0;
}

.monit table th {
  text-align: left;
  font-weight: normal;
}

.monit table th,
.monit table td {
  font-size: 12px;
  padding: 4px 8px;
  border-bottom: 1px solid rgba(157, 172, 169, 0.35);
}

.monit table td {
  border-bottom: 1px solid #dadada;
}

.monit table tr:last-child th,
.monit table tr:last-child td {
  border-bottom: 0;
}

.monit .trigger-not-found {
  text-align: center;
  padding-top: 18px;
}

.monit .trigger-0,
.monit .trigger-1 {
  color: white;
  width: 2%;
  font-size: 14px;
}

.monit .trigger-0 {
  background-color: #34a853;
}
.monit .trigger-1 {
  background-color: #ea4335;
}
