.node-item,
.node-item .graph-labels {
  box-sizing: border-box;
}

.node-item {
  position: relative;
  margin: 0 10px 10px 0;
  border-radius: 2px;
  min-width: 120px;
  max-width: 200px;
  cursor: pointer;
  background-color: #9daca9;
  border: 1px solid transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.node-item .node-info,
.node-item .node-graphs {
  padding: 10px 15px;
}

.node-item .type {
  display: block;
  font-size: 10px;
  margin-bottom: 6px;
  text-transform: uppercase;
}

.node-item .name {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.node-item.current {
  background-color: #7f8c89;
}

.node-item.current.this-node {
  border: 1px solid #587bff;
  border-bottom-color: #0036ff;
  box-shadow: 0 0 0 3px #6fb5f1;
}

.node-item .sub-node-edges .edges-in,
.node-item .sub-node-edges .edges-out {
  position: absolute;
  left: -16px;
}

.node-item .sub-node-edges .edges-in {
  top: 2px;
}

.node-item .sub-node-edges .edges-out {
  bottom: 2px;
}
