.node-item,
.node-item .graph-labels {
  box-sizing: border-box;
}

.node-item {
  position: relative;
  margin: 0 10px 10px 0;
  border-radius: 2px;
  min-width: 120px;
  max-width: 200px;
  cursor: pointer;
  background-color: #9daca9;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.node-item .node-info,
.node-item .node-graphs {
  padding: 10px 15px;
}

.node-item .type {
  display: block;
  font-size: 10px;
  margin-bottom: 6px;
  text-transform: uppercase;
}

.node-item .name {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.node-item.current {
  background-color: #7f8c89;
}

.node-item.current.thisnode {
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.15);
}

.node-item .node-edges {
  position: absolute;
  left: -17px;
  width: 20px;
  color: white;
  padding: 2px;
  font-size: 14px;
  height: 18px;
  border-radius: 2px;
  text-align: center;
  z-index: 6;
}

.node-item .node-edges.in {
  top: 4px;
}

.node-item .node-edges.out {
  bottom: 4px;
}

.node-item .edge-link {
  position: absolute;
  width: 5px;
  border-radius: 2px;
  top: -50px;
  height: 70px;
  left: -22px;
  background-color: #9daca9;
}

.node-item-content {
  position: relative;
}
