.sub-node-edges .edges-in,
.sub-node-edges .edges-out {
  position: relative;
}

.sub-node-edges .edges-btn {
  box-sizing: content-box;
  width: 20px;
  height: 18px;
  color: white;
  padding: 2px;
  border: 0;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
}

.sub-node-edges .edges-btn:hover {
  opacity: 0.9;
}

.sub-node-edges .edges-content {
  position: absolute;
  top: 35px;
  min-width: 100px;
  border-radius: 2px;
  padding-bottom: 10px;
  text-align: left;
  background-color: white;
  margin-bottom: 10px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
  z-index: 9;
  cursor: default;
}

.sub-node-edges .edges-content .edge-item {
  display: block;
  font-size: 13px;
  white-space: nowrap;
  color: #333;
  padding: 5px 10px;
  border-bottom: 1px solid #ddd;
}

.sub-node-edges .edges-content .edge-item:last-child {
  border-bottom: 0;
}

.sub-node-edges .edges-content .v-line {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 3px;
}

.sub-node-edges.left .edges-content { left: 0; }
.sub-node-edges.left .edges-content .v-line {
  left: -3px;
  border-radius: 3px 0 0 3px;
}

.sub-node-edges.right .edges-content { right: 0; }
.sub-node-edges.right .edges-content .v-line {
  right: -3px;
  border-radius: 0 3px 3px 0;
}

.sub-node-edges .tooltip-arrow {
  position: absolute;
  top: -8px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
}

.sub-node-edges.left .tooltip-arrow {
  left: 4px;
}

.sub-node-edges.right .tooltip-arrow {
  right: 4px;
}

.sub-node-edges .edges-content-head {
  text-align: left;
  font-size: 16px;
  padding: 10px;
}

.sub-node-edges .close-tooltip-btn {
  position: absolute;
  top: 8px;
  right: 6px;
  border: 0;
  background-color: transparent;
  font-size: 14px;
  color: #aaa;
}

.sub-node-edges .close-tooltip-btn:hover {
  color: #333;
}
