.search-box {
  display: inline-block;
  height: 40px;
  margin: 0 20px;
}

.search-box input {
  border: 0;
  height: 30px;
  margin-top: 5px;
  width: 400px;
  padding: 5px;
  font-size: 16px;
  color: #333;
}
