.search-content {
  box-sizing: border-box;
}

.search-content {
  position: absolute;
  top: 110px;
  width: 100%;
  left: 0;
}

.search-content table {
  width: 100%;
  border-spacing: 0;
}

.search-content table tr td {
  cursor: pointer;
}

.search-content table tr:nth-child(odd) {
  background-color: #efefef;
}

.search-content table tr.current td,
.search-content table tr.current:hover td {
  background-color: #9daca9;
  color: white;
}

.search-content table tr:hover td {
  background-color: #dbeae7;
}

.search-content table th {
  background-color: #d9dddd;
}

.search-content table th,
.search-content table td {
  text-align: left;
  padding: 6px 10px;
  color: #454545;
  font-size: 14px;
}

.search-content .btn-open-node {
  font-size: 16px;
}
