.stage {
  box-sizing: border-box;
}

.stage {
  display: none;
  flex-direction: column;
  position: fixed;
  overflow: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  border-top: 1px solid rgba(157, 172, 169, 0.35);
  background-color: #dfe2e2;
  z-index: 5;

  transition: all 0.1s cubic-bezier(0.70, 0, 0.175, 1);
}

.stage.open {
  top: 110px;
  display: flex;
}

.stage.with-info {
  width: 65%;
}

.stage .node-item-group {
  display: flex;
  flex-flow: row nowrap;
}
