.queries {
  padding: 0 25px;
  background-color: none;
}

.queries ul {
  list-style: none;
  padding: 0;
}

.queries .query {
  display: block;
  margin-bottom: 10px;
  height: 30px;
  line-height: 30px;
  text-decoration: none;
  background: none;
  border-radius: 3px;
  color: #333;
}

.queries .query:before {
  content: "»";
  margin-right: 10px;
}

.queries .query:hover {
  color: #2eb78e;
}
