<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Globomap Report</title>
    <link rel="stylesheet" href="/css/bulma.min.css">
    <style>
      html { background-color: #dee1e5; }
      .report-main { background-color: #edf0f4; }
      .report-header { padding: 1.5rem; background-color: #3872d2; }
      .report-header .title { color: white; }
      .report-header .title .globo { font-weight: lighter; }
      .content { border-radius: 3px; overflow: hidden; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); }
      .content .td_head { font-weight: bold }
    </style>
  </head>
  <body>
    <section class="report-header">
      <div class="container">

        <div class="columns is-vcentered">
          <div class="column">
            <p class="title">
              <span class="globo">globo</span>map Report
            </p>
          </div>
        </div>

      </div>
    </section>

    <section class="section report-main">
      <div class="container">
        <div class="content" id="data-content"></div>
      </div>
    </section>

<script src="/js/jquery-3.3.1.min.js"></script>
<script>
function buildTable(a) {
  var e = document.createElement('table'),
    d, b;
  e.classList.add('table')
  if (isArray(a)) return buildArray(a);
  for (var c in a) "object" != typeof a[c] || isArray(a[c]) ? "object" == typeof a[c] && isArray(a[c]) ? (d = e.insertRow(-1), b = d.insertCell(-1), b.colSpan = 2, b.innerHTML = '<div class="td_head">' + encodeText(c) + '</div><table class="table is-bordered">' + $(buildArray(a[c]), !1).html() + "</table>") : (d = e.insertRow(-1), b = d.insertCell(-1), b.innerHTML = "<div class='td_head'>" + encodeText(c) + "</div>", d = d.insertCell(-1), d.innerHTML = "<div class='td_row_even'>" +
    encodeText(a[c]) + "</div>") : (d = e.insertRow(-1), b = d.insertCell(-1), b.colSpan = 2, b.innerHTML = '<div class="td_head">' + encodeText(c) + '</div><table class="table is-bordered">' + $(buildTable(a[c]), !1).html() + "</table>");
  return e
}

function buildArray(a) {
  var e = document.createElement('table'),
    d, b, c = !1,
    p = !1,
    m = {},
    h = -1,
    n = 0,
    l;
  l = "";
  e.classList.add('table');
  if (0 == a.length) return "<div></div>";
  d = e.insertRow(-1);
  for (var f = 0; f < a.length; f++)
    if ("object" != typeof a[f] || isArray(a[f])) "object" == typeof a[f] && isArray(a[f]) ? (b = d.insertCell(h), b.colSpan = 2, b.innerHTML = '<div class="td_head"></div><table class="table is-bordered">' + $(buildArray(a[f]), !1).html() + "</table>", c = !0) : p || (h += 1, p = !0, b = d.insertCell(h), m.empty = h, b.innerHTML = "<div class='td_head'>&nbsp;</div>");
    else
      for (var k in a[f]) l =
        "-" + k, l in m || (c = !0, h += 1, b = d.insertCell(h), m[l] = h, b.innerHTML = "<div class='td_head'>" + encodeText(k) + "</div>");
  c || e.deleteRow(0);
  n = h + 1;
  for (f = 0; f < a.length; f++)
    if (d = e.insertRow(-1), td_class = isEven(f) ? "td_row_even" : "td_row_odd", "object" != typeof a[f] || isArray(a[f]))
      if ("object" == typeof a[f] && isArray(a[f]))
        for (h = m.empty, c = 0; c < n; c++) b = d.insertCell(c), b.className = td_class, l = c == h ? '<table class="table">' + $(buildArray(a[f]), !1).html() + "</table>" : " ", b.innerHTML = "<div class='" + td_class + "'>" + encodeText(l) +
          "</div>";
      else
        for (h = m.empty, c = 0; c < n; c++) b = d.insertCell(c), l = c == h ? a[f] : " ", b.className = td_class, b.innerHTML = "<div class='" + td_class + "'>" + encodeText(l) + "</div>";
  else {
    for (c = 0; c < n; c++) b = d.insertCell(c), b.className = td_class, b.innerHTML = "<div class='" + td_class + "'>&nbsp;</div>";
    for (k in a[f]) c = a[f], l = "-" + k, h = m[l], b = d.cells[h], b.className = td_class, "object" != typeof c[k] || isArray(c[k]) ? "object" == typeof c[k] && isArray(c[k]) ? b.innerHTML = '<table class="table is-bordered">' + $(buildArray(c[k]), !1).html() + "</table>" : b.innerHTML =
      "<div class='" + td_class + "'>" + encodeText(c[k]) + "</div>" : b.innerHTML = '<table class="table">' + $(buildTable(c[k]), !1).html() + "</table>"
  }
  return e
}

function encodeText(a) {
  return $("<div />").text(a).html();
}

function isArray(a) {
  return "[object Array]" === Object.prototype.toString.call(a);
}

function isEven(a) {
  return 0 == a % 2
}

<% if (result && result !== '') { %>
  $('#data-content').html(buildTable(<%- result %>));
<% } %>
</script>

  </body>
</html>
