.tour-bg {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 99;
}

.tour-content {
  display: flex;
  flex-flow: row;
  width: 75vw;
  height: 45vh;
  min-height: 230px;
}

.tour-left,
.tour-right {
  padding: 20px;
}

.tour-left {
  font: bold 4rem Helvetica, sans-serif;
  color: #444;
  letter-spacing: -0.25rem;
  width: 50%;
}

.tour-right {
  width: 50%;
}

.tour-btn-previous {
  float: left;
}
