.tour-content {
  display: flex;
  flex-flow: row;
  width: 75vw;
  height: 45vh;
  min-height: 220px;
}

.tour-left,
.tour-right {
  padding: 20px;
}

.tour-left {
  font: bold 4rem Helvetica;
  color: #444;
  letter-spacing: -0.25rem;
  width: 50%;
}

.tour-right {
  width: 50%;
}

.tour-btn-previous {
  float: left;
}
