.sidebar-buttons {
  /*padding: 0 10px;*/
}

.sidebar-buttons button {
  position: relative;
  display: block;
  width: 100%;
  text-align: left;
  background: transparent;
  color: white;
  border: 0;
  cursor: pointer;
  font-size: 1em;
  font-weight: lighter;
  height: 50px;
  padding: 10px 20px;
  border-top: 1px solid rgba(99, 99, 99, 0.2);
  outline: none;
}

.sidebar-buttons button .icon {
  display: inline-block;
  width: 20px;
  margin-right: 15px;
}

.sidebar-buttons button:last-child {
  border-bottom: 1px solid rgba(99, 99, 99, 0.2);
}

.sidebar-buttons button:hover,
.sidebar-buttons button.active {
  color: #2eb78e;
}

.sidebar-buttons button:hover:before,
.sidebar-buttons button.active:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background-color: #2eb78e;
  height: 49px;
  width: 5px;
  border-radius: 50% 0 0 50%;
}
