.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 256px;
  min-width: 256px;
  min-height: 640px;
  background-color: #1e2529;
}

.sidebar .sidebar-logo {
  text-align: center;
  padding: 10px 0 30px;
}

.sidebar .sidebar-logo img {
  width: 45%;
}
