.sidebar-buttons {
  padding: 0 10px;
}

.sidebar-buttons button {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  background: transparent;
  color: white;
  border: 0;
  cursor: pointer;
  font-size: 1.6em;
  height: 120px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  outline: none;
}

.sidebar-buttons button:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-buttons button:hover {
  color: #2eb78e;
}

.sidebar-buttons button:hover:before,
.sidebar-buttons button.active:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #2eb78e;
  height: 40px;
  margin-top: -20px;
  margin-left: -7px;
  width: 4px;
}
