.sidebar-buttons,
.sidebar-buttons a {
  box-sizing: border-box;
}

.sidebar-buttons a {
  position: relative;
  display: block;
  width: 100%;
  text-align: left;
  color: white;
  font-size: 1em;
  font-weight: lighter;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  text-decoration: none;
  border-top: 1px solid rgba(99, 99, 99, 0.2);
  outline: none;
}

.sidebar-buttons a .icon {
  display: inline-block;
  width: 20px;
  margin-right: 15px;
}

.sidebar-buttons a:last-child {
  border-bottom: 1px solid rgba(99, 99, 99, 0.2);
}

.sidebar-buttons a:hover,
.sidebar-buttons a.active {
  color: #2eb78e;
}

.sidebar-buttons a:hover:before,
.sidebar-buttons a.active:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background-color: #2eb78e;
  height: 49px;
  width: 5px;
  border-radius: 50% 0 0 50%;
}
