.search-header * {
  box-sizing: border-box;
}

.search-header {
  display: flex;
  width: 100%;
  flex-flow: column;
}

.search-header button {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0 10px 10px 0;
  outline: none;
}

.search-header button:hover {
  opacity: 0.75;
}

.search-top {
  display: flex;
}

.search-box .btn-search {
  font-size: 2em;
  height: 42px;
}

.toggle-search-type {
  position: relative;
  width: 180px;
}

.search-box .prop-query,
.search-box .search-query {
  display: block;
  width: 100%;
  border: none;
  font-size: 8em;
  font-weight: 300;
  line-height: normal;
  color: #2eb78e;
  padding: 50px 10px 20px;
  border-bottom: 1px solid #eee;
  margin-bottom: 40px;
  outline: none;

  transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
}

.with-options .search-box .search-query {
  font-size: 3em;
  padding: 30px 10px 10px;
}

.search-box .prop-query::placeholder,
.search-box .search-query::placeholder {
  color: #eee;
}

.search-for-properties {
  margin-bottom: 20px;
}

.search-for-properties .btn-add-prop {
  font-size: 0.8em;
}

.search-for-properties .btn-add-prop .icon {
  color: #2eb78e;
}

.property-items {
  margin-bottom: 20px;
  max-height: 300px;
  overflow-y: auto;
}

.property-items .prop-item {
  display: flex;
  justify-content: left;
  flex-wrap: nowrap;
}

.prop-item .prop-operator {
  border: none;
  background: none;
  color: #2eb78e;
  outline: none;
  margin: 0 20px;
  font-size: 2em;
}

.prop-item .btn-remove-prop {
  font-size: 2em;
  color: #ccc;
  margin-left: 20px;
}

.prop-item .prop-query {
  font-size: 2em;
  width: 30%;
  padding: 30px 10px 10px;
  margin-bottom: 20px;
}

.search-types,
.selected-search-type {
  position: absolute;
  top: 0;
  left: 0;
  color: #ccc;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 21px;
  padding: 12px 20px;
  height: 42px;
  cursor: pointer;
  background-color: white;
  z-index: 9;
}

.search-types {
  height: 125px;
  padding: 56px 20px 0 38px;
  z-index: 8;
}

.search-types button:disabled {
  color: #2eb78e;
}

.selected-search-type .arrow {
  float: right;
}

.selected-search-type .search-type {
  color: #2eb78e;
}

.btn-search-options {
  float: right;
}

.search-options {
  overflow-y: auto;
  border-top: 2px solid #ccc;
  padding: 10px 0 0;
}

.search-options .collection-items {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.search-options .collection-items .item {
  width: 30%;
  min-width: 200px;
  border-bottom: 1px solid #ccc;
  margin: 8px 5px;
  padding: 8px;
  cursor: pointer;
}

.search-options .collection-items .item:hover {
  border-color: #2eb78e;
}

.search-options .collection-items .item.checked {
  color: #2eb78e;
}

.search-options .collection-items .item input {
  float: right;
}
