.node-item-hc {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  right: 0;
  border-top-right-radius: 5px;
  overflow: hidden;
}

.node-item-hc .hc-result {
  position: absolute;
  width: 30px;
  height: 30px;
  top: -30px;
  right: -30px;
  border-radius: 50%;
  background-color: #aaa;
  transition: all 200ms ease-in;
}

.node-item-hc.active .hc-result {
  top: -15px;
  right: -15px;
}

.node-item-hc .hc-load {
  position: absolute;
  width: 30px;
  height: 30px;
  top: -15px;
  right: -15px;
  border-radius: 50%;

  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.node-item-hc.active .hc-load {
  display: none;
}

@keyframes pulse {
  from { background-color: #eee; }
  50% { background-color: #ddd; }
  to { background-color: #eee; }
}

.node-item-hc.active .hc-result .hc-icon {
  position: absolute;
  left: 5px;
  bottom: 4px;
  font-size: 8px;
  color: white;
}

.node-item-hc .hc-result.success { background-color: #42be12; }
.node-item-hc .hc-result.success .hc-icon { left: 5px; }

.node-item-hc .hc-result.warning { background-color: #ecca0d; }
.node-item-hc .hc-result.warning .hc-icon { left: 7px; }

.node-item-hc .hc-result.failed { background-color: #f4410b; }
.node-item-hc .hc-result.failed .hc-icon { left: 6px; }

.node-item-hc .hc-result.nothing { background-color: #aaa; }
.node-item-hc .hc-result.nothing .hc-icon { left: 5px; }
